article.flexboxvcenter {
    display: flex;
    margin: auto;
    flex-direction: column ;
    align-items: center;
}

form {
    border: 1px solid black;
    padding: 10px;
}

.flexboxvcenter label {
    width: 120px;
    margin-left: 5px;
    display:inline-flex;
}

footer {
    width: 800px;
    margin: auto;
    font-size: 8px;
    padding-top: 20px;
    clear: both;
}
