body {
    background: #888888;
    color: #FFFFFF;
}

table {
    border: 7px solid orange;
    background: #222222;
    color: #ffffff;
    border: 1px;
    width: 600px;
    padding: 5px;
    border-spacing: 0;
}

caption {
    background: #888888;
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    font-weight: bold;
}

th {
    background: #444444;
    border-bottom: 5px solid orange;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 55px;
    padding-bottom: 15px;
}

td {
    text-align: left;
    font-style: italic;
    color: yellow;
    padding-left: 15px;
}

td.green {
    border: 10px groove lime;
}

td.red {
    background: #880000;
    color: #ffffff;
    text-align: left;
    font-family: Verdana, Arial, Serif;
    font-size: 11px;
}

td.minus18 {
    border: 8px double #800080;
    text-decoration: underline;
}
