body {
    background-color: white;
}

h1, header, h2 {
    text-align: center;
}

div#twoDtransitiondiv {
    border: 2px solid black;
    width: 200px;
    height: 150px;
    background-color: #4AA74E;
    color: white;
    text-shadow: 2px 2px 4px #000000; /* árnyék a szöveg körül */
    text-align: center;
    transition: transform 2s; /* Ez okozza az átmenetet */
}

div#twoDtransitiondiv:hover {
    transform: rotate(60deg); /* elforgatja a síkban 60 foknyit */
}

div#threeDtransitiondiv {
    border: 2px solid black;
    width: 200px;
    height: 150px;
    background-color: #4B1F52;
    box-shadow: 10px 10px 5px grey; /* árnyék a div körül */
    text-align: center;
    transition: transform 2s; /* Ez okozza az átmenetet */
}

div#threeDtransitiondiv:hover {
    transform: rotateY(160deg); /* Y tengely mentén elforgatja 160 foknyit */
}
