div.quiz div.date {
  font-style: italic;
}

h2 {
  font-size: 1.2rem;
}

div.quiz {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

div#container > div.quiz:nth-child(even) {
  background-color: #eeeeee;
}

div.quiz > h2 {
  margin-top: 0;
}

div.description {
  font-size: 95%;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.menu-button, input.menu-button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid sandybrown;
  padding: 10px;
  margin: 6px 2px;
  transition: background-color 0.1s;
}

a:hover, input.menu-button:hover {
  background-color: burlywood;
  color: chocolate;
}

a, input.menu-button:hover {
  color: #915757;
  text-decoration: none;
}

input.menu-button:hover {
  cursor: pointer;
}

input:not([type="submit"]):not([type="button"]), textarea {
  margin: 10px 10px;
  width: 800px;
}

label {
  display: block;
  font-size: smaller;
}

.delete-button{
  color: red;
}
