body {
    background-color: #686868;
}

h1, header, h2 {
    text-align: center;
}

section {
    background-color: yellow;
    border: 2px dotted black;
}

nav {
    border: 2px solid black;
}

ul li {
    background-color: brown;
}

@media screen and (min-width: 600px) {
    nav {
        float: left;
        width: 25%;
    }

    section {
        margin-left: 25%;
    }
}

@media screen and (max-width: 599px) {
    nav li {
        display: inline;
    }
}

@media screen and (max-width: 400px) {
    nav li {
        visibility: hidden;
    }
}

@media print {
    li, section, body {
        background-color: white;
    }
}
