body {
    background-color: white;
}

h1, header, h2 {
    text-align: center;
}

div#transitiondiv {
    margin: 0 auto;

    border: 2px solid black;
    width: 800px;
    height: 150px;
    background-color: green;
    text-align: center;

    /* Ez okozza az átmenetet */
    transition: background-color 3s, width 3s, height 3s;
    -webkit-transition: background-color 3s, width 3s, height 3s; /* Safari, iOS, Android, Chrome */
    -ms-transition: background-color 3s, width 3s, height 3s; /* Internet Explorer */
    -o-transition: background-color 3s, width 3s, height 3s; /* Opera */
    -moz-transition: background-color 3s, width 3s, height 3s; /* Firefox */
}

div#transitiondiv:hover {
    background-color: blue;

    width: 850px;
    height: 200px;
}

div#standarddiv {
    margin: 0 auto;
    margin-top: 50px;

    border: 2px solid black;
    width: 800px;
    height: 150px;
    background-color: green;
    text-align: center;
}

div#standarddiv:hover {
    background-color: blue;
}

input#transinput {
    background-color: white;
    transition: background-color 4s;
}

input#transinput:focus {
    background-color: red;
}

input#standinput {
    background-color: white;
}

input#standinput:focus {
    background-color: red;
}
