<p>Hello, my name is <%= name %>.</p>
<p>I am from <%= hometown %>.</p>
<p>I have <%= kids.length %> kids:</p>
<ul><% kids.forEach((kid) => { if (kid.age) { %>
  <li><%= kid.name %> is <%= kid.age %></li><% } else { %>
  <li>I don't remember how old <%= kid.name %> is.</li><% }}) %>
</ul>
