/* A body 3 gyereke oszloposan helyezkedik el. */
body {
  display: flex;
  flex-direction: column;
}

/* A konténer 3 gyereke sorban helyezkedik el. */
#container {
  display: flex;
  flex-direction: row;
}

/* Méretarány a 3 alelemnek */
nav,
aside {
  background-color: #d1c8e1;
  flex: 1 1 20%;
}

main {
  background-color: blanchedalmond;
  flex: 3 3 60%;
}

header,
footer {
  background-color: aquamarine;
}

/* Kis képernyő (mobil) esetén */
@media (max-width: 600px) {
  /* A központi konténert függőlegesen rendezzük el */
  #container {
    flex-direction: column;
  }

  /* Sorrendet váltunk */
  main {
    order: 3;
  }

  nav {
    order: 1;
  }

  aside {
    order: 2;
  }

  main,
  nav,
  aside {
    flex: 0 0 auto;
  }
}

header,
nav,
main,
aside,
footer {
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
}

header,
footer {
  text-align: center;
}
