@keyframes example1 {
    from {background-color: white;}
    to {background-color: red;} 
}

@keyframes example2 {
    from {background-color: white;}
    to {background-color: green;} 
}

div.top {
    width: 100px;
    height: 30px;
    background-color: red;
    animation-name: example1;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

div.middle {
    width: 100px;
    height: 30px;
    padding: 5px 0 0 20px;
}

div.bottom {
    width: 100px;
    height: 30px;
    background-color: green;
    animation-name: example2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
