body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

code {
  font-size: 125%;
}

.message {
  font-style: italic;
}

h2 {
  margin-top: 45px;
  margin-bottom: 5px;
}

.date {
  font-size: 85%;
  font-style: italic;
  color: gray;
  margin-top: 5px;
}